@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Source Sans 3", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./imagens/WhatsApp\ Image\ 2025-04-01\ at\ 19.44.51\ \(1\).jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: #36393f;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    color: #dcddde;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
}

.container h1 {
    font-size: 26px;
    margin-top: 15px;
    font-weight: 700;
}

.btn {
    background-color: #008000;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #32CD32;
}

form {
    background-color: #202225;
    padding: 30px;
    border-radius: 10px;
    color: #dcddde;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

form label {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 6px;
}

form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2f3136;
    color: #dcddde;
    font-size: 15px;
    margin-bottom: 20px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #008000;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

form button:hover {
    background-color: #32CD32;
}
