<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Vacinação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendario.css') }}">
</head>
<body>
   
    <div class="barra-superior">
        <a href="principal.html">
            <img class="logo" src="static/imagens/Logo.png" alt="logo">
        </a>
        <h1>Controle de Vacinação de Bovinos</h1>
        
    
        <div class="sidebar">
            <a class="btn" href="cadastrarvac.html">Cadastrar Vacina</a>
            <a class="btn2" href="calendario.html">Calendário de Vacinação</a>
            <a class="btn" href="registro.html">Registro de Vacinação</a>
            <a class="btn2" href="relatorios.html">Relatórios</a>
            <a class="btn" href="vacinasfuturo.html">Cadastro de Vacinas Futuras</a>
        </div>
    
        
                
        
    </div>
</body>
</html>