<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Vacinação de Bovinos</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">
    <!--esse style eu pedi pro chat gpt fazer pra ter uma ideia de como ia ficar essa barra lateral-->

</head>
<body>
    <div class="barra-superior">
        <img src="static/imagens/Logo.png" alt="Logo do Site" class="logo">
        <h1>Controle de Vacinação de Bovinos</h1>
        <a class="btn-sair" href="/">Sair</a>
    </div>
    
    <div class="sidebar">
        <a class="btn" href="cadastrarvac.html">Cadastrar Vacina</a>
        <a class="btn2" href="calendario.html">Calendário de Vacinação</a>
        <a class="btn" href="registro.html">Registro de Vacinação</a>
        <a class="btn2" href="relatorios.html">Relatórios</a>
        <a class="btn" href="vacinasfuturo.html">Cadastro de Vacinas Futuras</a>
    </div>

        <div class="main-content">
            <div class="container">
                <h2>Próxima Vacina a Ser Aplicada</h2>
            
                {% if proxima_vacina %}
                <div class="vacina-futura"> 
                    <h3>{{ proxima_vacina.nome_vacina }}</h3>
                    <p><strong>Descrição:</strong> {{ proxima_vacina.descricao }}</p>
                    <p><strong>Data Prevista:</strong> {{ proxima_vacina.data_formatada }}</p>
                    <p><strong>Animais:</strong> {{ proxima_vacina.animais }}</p>
                </div>
            {% else %}
                <p>Nenhuma vacina futura encontrada.</p>
            {% endif %}
            </div>
        </div>
    </div>    
</body>
</html>