<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro_de_Vacinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
</head>
<body>
    <header>
    <!--container seria a parte la em cima da tela inincial-->
    <div class="container"> 
        <img src="" alt="logo">
        <h1>Registro de Vacinas</h1>
        <a class="btn" href="principal.html">Voltar</a>
            <section class="banner">
                <div class="box_form">
                    <form action="#" method="post">
                        <div>
                            <label for="nomeAnimal">Nome do Animal:</label>
                            <input type="text" id="nomeAnimal" name="nomeAnimal" required>
                        </div>
                        <br>
                        <div>
                            <label for="vacina">Vacina:</label>
                            <input type="text" id="vacina" name="vacina" required>
                        </div>
                        <br>
                        <div>
                            <label for="dataAplicacao">Data de Aplicação:</label>
                            <input type="date" id="dataAplicacao" name="dataAplicacao" required>
                        </div>
                        <br>
                        <div>
                            <label for="observacao">Observação:</label>
                            <textarea id="observacao" name="observacao"></textarea>
                        </div>
                        <br>
                        <button type="submit">Cadastrar</button>
                    </form>
                </div>
            </section>
    </div>
    


 </header> 
</body>
</html>