<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Vacinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
</head>
<body>
    <div class="barra-superior">
        <a href="principal.html">
            <img class="logo" src="static/imagens/Logo.png" alt="logo">
        </a>
        <h1>Controle de Vacinação de Bovinos</h1>
    </div>
    
    <div class="sidebar">
        <a class="btn" href="cadastrarvac.html">Cadastrar Vacina</a>
        <a class="btn2" href="calendario.html">Calendário de Vacinação</a>
        <a class="btn" href="registro.html">Registro de Vacinação</a>
        <a class="btn2" href="relatorios.html">Relatórios</a>
        <a class="btn" href="vacinasfuturo.html">Cadastro de Vacinas Futuras</a>
    </div>
        <div class="container"> 
            <h2>Registro de Vacinas</h2>
                    <div class="box_form">
                        <form action="{{ url_for('registros.registrar') }}" method="post">
                            <div>
                                <label for="nomeAnimal">Identificação do Animal ou Animais:</label>
                                <input type="text" id="nomeAnimal" name="animal" required>
                            </div>
                            <br>
                            <div>
                                <label for="vacina">Vacina:</label>
                                <input type="text" id="vacina" name="vacina" required>
                            </div>
                            <br>
                            <div>
                                <label for="dataAplicacao">Data de Aplicação:</label>
                                <input type="date" id="dataAplicacao" name="data_aplicacao" required>
                            </div>
                            <br>
                            <div>
                                <label for="observacao">Observação:</label>
                                <textarea id="observacao" name="observacoes"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="botao-primario">Cadastrar</button>
                            {% if mensagem2 %}
                                    <p style="color: red;">{{ mensagem2 }}</p>
                                {% endif %}
                            {% if mensagem %}
                                    <p style="color: #74a03a;">{{ mensagem }}</p>
                            {% endif %}
                        </form>
                    </div>
                
        </div>
    </div>


  
</body>
</html>