<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorios de Vacinação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='relatorios.css') }}">
</head>
<body>
    <div class="barra-superior">
        <img src="" alt="">
        <h1>Controle de Vacinação de Bovinos</h1>
    </div>    
    
        <div class="sidebar">
            <a class="btn" href="cadastrarvac.html">Cadastrar Vacina</a>
            <a class="btn2" href="calendario.html">Calendário de Vacinação</a>
            <a class="btn" href="registro.html">Registro de Vacinação</a>
            <a class="btn2" href="relatorios.html">Relatórios</a>
            <a class="btn" href="vacinasfuturo.html">Cadastro de Vacinas Futuras</a>
        </div>
        <div class="container">
            <h2>Relatórios de Vacinação</h2>
            <p>Resumo das aplicações de vacinas</p>
            {% if dados %} 
            <table>
                <thead>
                    <tr>
                        <th>Vacina</th>
                        <th>Animal/s</th>
                        <th>Data de Aplicação</th>
                        <th>Observações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in dados %}
                    <tr>
                        <td>{{ item.vacina }}</td>
                        <td>{{ item.animais }}</td>
                        <td>{{ item.data_aplicacao.strftime('%d/%m/%Y') if item.data_aplicacao else '' }}</td>
                        <td>{{ item.observacoes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
    <p class="no-data">Nenhum dado de vacinação encontrado.</p>
    {% endif %}
        </div>
    </div>
</body>
</html>