<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre / Controle de Vacinação de Bovinos</title>
    <link rel="shortcut icon" href="imagens/WhatsApp Image 2025-04-01 at 19.44.51.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="style.sobre.css">
</head>
<body>
    <header>
        <!--container seria a parte la em cima da tela inincial-->
        <div class="container"> 
            <nav>
                <a href="home_projeto_boi.html">
                    <img src="" alt="logo">
                </a>
                <ul>
                    <a class="btn" href="home_projeto_boi.html">Página inicial</a>
                    <a class="btn2" href="sobre.html">Sobre</a>
                </ul>
            </nav>
        </div>
        <section class="banner">
            <div class="banner-text">
                <h1>sobre</h1>
            </div>
        </section>
    </header>
    <section class="Quem-somos">
        <h3>quem somos</h3>
        <p>Somos calouros do curso de ads</p>
        <p>E estamos tomando uma surra pra fazer essa bagaça</p>
    </section>





















    
</body>
</html>