<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre / Controle de Vacinação de Bovinos</title>
    <link rel="shortcut icon" href="imagens/WhatsApp Image 2025-04-01 at 19.44.51.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="style.sobre.css">
</head>
<body>
    <header>
        <!--container seria a parte la em cima da tela inincial-->
        <div class="container"> 
            <nav>
                <a href="home_projeto_boi.html">
                    <img src="" alt="logo">
                </a>
                <ul>
                    <a class="btn" href="home_projeto_boi.html">Página inicial</a>
                    <a class="btn2" href="sobre.html">Sobre</a>
                </ul>
            </nav>
        </div>
        <section class="banner">
            <div class="banner-text">
                <h1>sobre</h1>
            </div>
        </section>
    </header>
    <section-title>
        <div class="container2">
            <h2>quem somos</h2> 
        </div>
    </section-title>
    <section2 class="quem-somos">
        <div class="texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ullam inventore fugit, ut eaque dolor quo aliquam autem quidem quae sequi, laboriosam dolores necessitatibus quis officiis eos quasi doloremque dicta.</p>
        </div>
        <div class="imagem-grupo">
            <img src="/imagens/exemplo-foto-nossa.jpg" alt="grupo que criou o site">
        </div>
    </section2>
    <section-title2>
        <div class="container3">
            <h2>como tudo começou</h2> 
        </div>
    </section-title2>
    <section3 class="inicio-projeto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officiis fugit, temporibus harum sunt quidem, maiores fugiat mollitia assumenda aut, minus obcaecati ipsam. Omnis illum voluptatem nulla et obcaecati officia!</p>

        </div>
    </section3>
    <!--footer eh o rodape em baixo do iste onde irão ficara s redes sociais, que pensei em colocar so as do serra-->
    <footer>
        <div class="redes">
            <h3>Nossas redes sociais</h3>
        </div>
        <section class="logos">
            <a href=https://www.instagram.com/serradouradaaltamira>
                <img src="/imagens/insta.jpg"alt="logo insta">
            </a> 
        </section>
        
    </footer>





















    
</body>
</html>