<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre / Controle de Vacinação de Bovinos</title>
    <link rel="shortcut icon" href="imagens/WhatsApp Image 2025-04-01 at 19.44.51.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.sobre.css') }}">
</head>
<body>
    <header>
        <!--container seria a parte la em cima da tela inincial-->
        <div class="container"> 
            <nav>
                <a href="/">
                    <img src="" alt="logo">
                </a>
                <ul>
                    <a class="btn" href="/">Página inicial</a>
                    <a class="btn2" href="sobre.html">Sobre</a>
                </ul>
            </nav>
        </div>
        <section class="banner">
            <div class="banner-text">
                <h1>sobre</h1>
            </div>
        </section>
    </header>
    <section-title>
        <div class="container2">
            <h2>quem somos</h2> 
        </div>
    </section-title>
    <section2 class="quem-somos">
        <div class="texto">
            <p>Somos um grupo de calouros do curso de Análise e Desenvolvimento de Sistemas da faculdade Serra Dourada e acreditamos que a tecnologia é uma ferramenta poderosa para solucionar problemas, criar soluções inovadoras e impactar positivamente a sociedade, e com isso desenvolvemos esse projeto para ajudar nessa área que é tão importante no nosso pais.</p>
        </div>
        <div class="imagem-grupo">
            <img src="/imagens/exemplo-foto-nossa.jpg" alt="grupo que criou o site">
        </div>
    </section2>
    <section-title2>
        <div class="container3">
            <h2>como tudo começou</h2> 
        </div>
    </section-title2>
    <section3 class="inicio-projeto">
        <p> Através da nossa disciplina de Experiência Aplicada na Programação, fomos desafiados a desenvolver um projeto que contribuísse com a sociedade. Ao analisarmos nossa região, identificamos a forte presença da atividade pecuária e a necessidade de otimizar os processos, que muitas vezes ainda são realizados manualmente. 
        <br>
        <br>
        Com o objetivo de modernizar e facilitar o controle de vacinação, desenvolvemos este website. Nossa plataforma digital substitui o sistema manual de registro em papel e caneta, oferecendo uma solução ágil e prática para os pecuaristas.
            <br>
            <br>
        Além disso, nosso sistema conta com um sistema de notificações inteligentes, que alertam os usuários sobre as datas de vacinação, garantindo que nenhum grupo de animais seja esquecido e que a vacinação seja realizada com precisão.
        <br>
            <br>
        Nosso objetivo é contribuir para o desenvolvimento da pecuária local, oferecendo uma ferramenta que facilite o dia a dia dos produtores e otimize seus processos.</p>

        </div>
    </section3>
    <!--footer eh o rodape em baixo do iste onde irão ficara s redes sociais, que pensei em colocar so as do serra-->
    <footer>
                <a href=https://www.instagram.com/serradouradaaltamira>
                    <img src="/projeco-do-boi/static/imagens/insta.jpg"alt="logo insta">
                </a>
                <a  href="https://serradouradaaltamira.com.br"class="ancora-serra">   <img src="/projeco-do-boi/static/imagens/serra-dourada-atm.jpg" alt="logo-serra"></a>
        
    </footer>





















    
</body>
</html>